@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

/*Color Body*/
body {
    background-color: rgb(89, 33, 116);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/*Nav justificaciones*/
header {
    display: flex;
    justify-content: flex-end;
    padding: 0.075rem;
}

/*Buscador*/
.search {
    background-color: rgb(234, 174, 240);
    border: 2px cornsilk;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #ae73c5;
}

.search:focus {
    background-color: rgb(164, 77, 172);
    outline: none;
}

/*Hacer que el contenido se ajuste linealmente*/
main {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

/*Propiedades a cada peli (espacio que ocupa en la pag, póster,
info, título, rating)*/
.movie {
    background-color: rgb(73, 12, 92);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
    cursor: pointer;
    float: left;
}

.movie img {
    width: 300px;
    height: 460px;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    width: 300px;
    height: 70px;
}

.movie-info h3 {
    margin: 0;
    font-size: medium;
}

.movie-info span {
    background-color: #1c0127;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

/*Resumen de la peli*/
.overview {
    background-color: rgb(198, 108, 206);
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}

#incioP {
    display: flex;
    justify-content: center;
    align-items: center;
}
#bInicio{
    cursor: pointer;
    font-weight: bolder;    
}

button{
    cursor: pointer;
}

#home{
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 800px;
}

.center , .flex{
    display: flex;
}

.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item {
    padding: 5px;
    width: 800px;
    margin: 10px;
    text-align: center;
  }

/*Block*/
#navv , #pags , #home, #reco, #topp , #searchh , #main{
    display: none;
}